</html>
<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- font-awesome CSS -->
  <script src="https://kit.fontawesome.com/727ce840af.js" crossorigin="anonymous"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 날짜 CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

  <title> 게시판 만들기</title>
</head>
<style>
  .wrap {
    width: 800px;
    margin: auto;
  }

  .form-group {
    margin-top: 30px;
  }

  .label {
    margin-top: 20px;
  }

  .btncls {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-top: 10px;
  }

  .btn-primary {
    margin-left: 20px;
  }

  .inputPwd {
    -webkit-text-security: disc;
  }
</style>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $("btn btn-danger").click(function(){
    $.ajax({
    methon : "DELETE",
    url : "/api/delete",
    data : {pw : $('#pw')},
  }).done(function(결과){

  });
  })
   -->

<script>


    function post_delete() {

      $.ajax({
          type: "DELETE",
          url: "/delete",
          data: {
            Id:"<%=list._id%>",
            password:$("#pw").val(),
          },
          error: function (xhr, status, error) {
            if(xhr.status===400){
              alert(xhr.responseJSON.msg);
              window.location.href="/";
            }

          },
          success: function (response) {
            let msg = response["msg"];
            alert(msg);
            window.location.href="/";
          },
        });
    }

    function save() {
            console.log("ss");
            $.ajax({
                async: true,
                type: "POST",
                url: "/save/<%=list.id%>",
                dataType: "json",
                data: {memo: $("#memo").val(),
                            password: $("#pw").val(),
                            Id:"<%=list._id%>"},                
                success: function(response) {
                    alert(response["success"]);
                    console.log("dd");
                    location.reload();
                    console.log("vv");
                }
            })
        }
</script>

<body>  
  <div class='wrap'>
    <h1>게 시 판</h1>
    <div class="form-group">
      <div class="label">
        <label for="exampleFormControlInput1" style="font-weight: bold;" >제목  : </label>
        <input type="text" id="title" value= "<%= list.title %>" />
      </div>
      <div class="label">
        <label for="exampleFormControlInput1" style="font-weight: bold;">작성자 :</label>
        <input type="text" id="name" value= "<%= list.name %>"/>
      </div>
      <div class="label">
        <label for="exampleFormControlInput1" style="font-weight: bold;">비밀 번호 : </label>
        <input class="inputPwd" id="pw" type="String" name="pw"/>
      </div>      
      <div class="label">
        <label for="exampleFormControlInput1">내용</label>
        <textarea class="form-control" id="memo" type="text" rows="10" placeholder="<%= list.memo %>"></textarea>
      </div>
    </div>
    <div class="btncls">
      <button class="btn btn-danger" onclick=post_delete()>삭제하기</button>
      <button class="btn btn-primary" type="submit" onclick="save()">글 수정</button>
      <button class="btn btn-primary" onclick="location.href='/api/index'">뒤로 가기</button>
    </div>
  </div>
</body>

</html>